.FBConnectButton_Small, .FBConnectButton_RTL_Small {
	background-position:-5px -232px !important;
	border-left:1px solid #1a356e;
	width:54px;
}
.FBConnectButton_Small .FBConnectButton_Text {
	margin-left:12px!important;
}

.dd-digg-ajax-load,.dd-reddit-ajax-load,.dd-dzone-ajax-load,.dd-ybuzz-ajax-load,
.dd-twitter-ajax-load,.dd-fbshare-ajax-load,.dd-fblike-ajax-load,.dd-delicious-ajax-load,
.dd-sphinn-ajax-load,.dd-gbuzz-ajax-load,.dd-fbshareme-ajax-load,.dd-tweetmeme-ajax-load,
.dd-linkedin-ajax-load, .dd-google1-ajax-load{
	background-image:url(../image/ajax-loader.gif);
    background-repeat: no-repeat;
	background-position: center ;
	width:50px;
	height:22px;
}

.dd_delicious{
	display:block; 
	color:#000; 
	font:normal 16px arial; 
	text-decoration:none; 
	width:50px; 
	height:60px; 
	text-align:center;
}

.dd_delicious a:link, .dd_delicious a:visited, .dd_delicious a:active, .dd_delicious a:hover{
    text-decoration:none;
    color:#000;
}

.dd_delicious_normal_image{
	background-image:url(../image/delicious.png); 
    background-repeat: no-repeat;
    text-align:center;
	height:60px;
	margin-top:3px;
	padding:0;
	text-align:center;
	width:50px;
	display:block;
}


.dd_delicious_compact_image{
	background-image:url(../image/delicious-compact.png); 
    background-repeat: no-repeat;
    text-align:center;
	height:22px;
	/*margin-top:3px;*/
	padding:0;
	text-align:center;
	width:50px;
	display:block;
}


.dd_delicious_compact_image span{
	font-size:10px;
}

.dd_comments {
	background-image:url(../image/comments-link.png); 
    background-repeat: no-repeat;
    text-align:center;
	height:16px;
	margin-top:3px;
	padding:0;
	text-align:center;
	width:50px;
	display:block;
}


.dd_button a:link,
.dd_button a:visited,
.dd_button a:active{
	text-decoration:none;
	color:#000000;
}

#dd_ajax_float{
	padding:2px 0px;
	text-align:center;
	line-height:16px;
	font-size:10px;
	font-family:Arial; 
	display:none;
}

.dd_post_share{
	padding:0px;
	margin-bottom:6px;
	display:block;
}

.dd_post_share_left{
	float:left;
}

.dd_post_share_right{
	float:right;
}

.dd_buttons img{
	border:none;
	border-width:0px;
	border-color:#000000;
	border-style:none;
}

#dd_name{
	color:#A9A9A9;
	font-size:0.5em;
	text-align:center;
	margin:6px 0 4px 0;
	padding:0;
	line-height:0px;
}

#dd_name a:link, #dd_name a:visited, #dd_name a:active {
    text-decoration:none;
    color:#A9A9A9;
    border:0;
}

#dd_name a:hover {
    text-decoration:underline;
    color:#A9A9A9;
    border:0;
}

.dd_button{
	float:left;
	padding:4px;
}

.dd_button_v{
	padding:2px 4px;
}

.dd_button_spacer{
	padding-top:8px;
}

#dd_comments{
	clear:both !important;
    width:50px;
    height:60px;
    font-family:arial;
}

#dd_comments a:link, #dd_comments a:visited, #dd_comments a:active, #dd_comments a:hover {
    text-decoration:none;
}

#dd_comments .clcount{
	background-image:url(../image/comments-count.png);
    background-repeat: no-repeat;
    background-position: left top;
    text-align:center;
	color:#444444;
	display:block;
	font-size:20px;
	height:34px;
	padding:4px 0;
	position:relative;
	text-align:center;
	width:50px;
	line-height:24px;
}

#dd_comments .ccount{
	color:#444444;
	font-size:17px;
	text-align:center;
	text-decoration:none;
}

#dd_comments .clink{
	background-image:url(../image/comments-link.png); 
    background-repeat: no-repeat;
    text-align:center;
	height:16px;
	margin-top:3px;
	padding:0;
	text-align:center;
	width:50px;
	display:block;
}

/******************Extra Services*****************/
.dd_button_extra_v{
	padding:1px 4px;
}

.st_email_custom{
	background-image:url(../image/email.png);
    background-repeat: no-repeat;
    background-position: 3px 4px;
	padding: 2px 4px 3px;
	border: 1px solid #DDDDDD;
	-moz-border-radius: 2px;
	cursor:pointer;
	margin-bottom:2px;
}

#dd_print_button{
	background-image:url(../image/print.png);
    background-repeat: no-repeat;
    background-position: 3px 2px;
	padding: 1px 4px 3px;
	border: 1px solid #DDDDDD;
	-moz-border-radius: 2px;
	cursor:pointer;
	margin-bottom:2px;
}

#dd_email_text{
	padding:0 0 0 18px;
	font-size:10px;
}

#dd_print_text{
	padding:0 0 0 14px;
	font-size:10px;
}

#dd_print_text a:link, #dd_print_text a:visited, #dd_print_text a:active {
	color:#000;
    text-decoration:none;
}

#dd_print_text a:hover{
	color:#0000FF;
	text-decoration:underline;
}